p {
  font-size: 16px;
  font-family: "Trebuchet MS", sans-serif;
}

body {
  background-color: d0d0d0;
}

#work-years {
  float:right;
}

.column {
  float:left;
}

.left {
  width: 25%;
}

.right {
  width:75%;
}

.work-left {
  width:60%;
}

.work-right {
  width:40%
}
