p {
  font-size: 16px;
}

li {
  font-size: 14px;
  text-align: left;
}

h3 {
  margin-bottom: 0px;
  text-align: center;
}

body {
  background-color: #d0d0d0;
  font-family: "Trebuchet MS", sans-serif;
}

img {
  border-radius=50%;
}

#work-years {
  float:right;
}

.column {
  float:left;
}

.left {
  width: 25%;
}

.right {
  width:75%;
}

.work-left {
  width:40%;
}

.work-right {
  width:40%;
}

.work-middle {
  width:20%;
  text-align: center;
}

#personalinfo {
  border-radius: 10px;
  background-color: #5aecfa;
}

#history {
  border-radius: 10px;
  background-color: #ececec;
}

#contactinfo {
  text-align: center;
}

#purpose {
  text-align: center;
}

#experience {
  margin-left: 10px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
